<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds">
<contextName>myapp</contextName>
<property name="base_dir" value="e:/logs/activity/" />
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss} %-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${base_dir}/log.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${base_dir}/log%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date %-5level %logger{0} - %msg%n</pattern>
			<charset>UTF-8</charset> 
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="org.springframework" level="error" />
	<logger name="org.springframework.web" level="error" />
	<logger name="org.apache.ibatis" level="info" />
	<logger name="com.ghgcn.xxx" level="debug" />
	<root level="error">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>